.wrapper {
    margin: 5px;
}

h1 {
    text-align: center;
}

#tucsonsunset {
    font-family: monospace;
    font-size: x-large;
    text-align: center;
    color: whitesmoke;
    background-color: #dd8030;
    border: solid 5px black;
    width: fit-content;
}